<!DOCTYPE html>
<html>
<head>

	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Cadastro</title>
	<meta name="viewport" content="width=device-width initial-scale=1"/>
	<link rel="stylesheet" href="style.css">
</head>
<body bgcolor="#EEE9E9">
	<header id="header" class="">
		<div>
			<h1>Cadastro de produtos</h1>
		</div>
	</header><!-- /header -->

	<na>
		<ul>
			<li>Admin</li>
			<li>Nota Fiscal</li>
			<li>Estoque</li>
			<li>Funcionarios</li>
			<li>Fornecedores</li>
			<li>Gráficos</li>
		</ul>

	</na>
	
	<hr>
	<br>
	<div id="div-1">
	<form>
		<label type="">Codigo do produto</label>
		<input type="text"  placeholder="Codigo do produto" name="codigo">
		<label type="">Nome do produto</label>
		<input type="text" placeholder="Nome" name="produto">
		<label type="">Quant/produto</label>
		<input type="text"  placeholder="Quantidade" name="quantidadt"><br><br>
		<label type="">Valor unit</label>
		<input type="text"  placeholder="Valor unitário" name="valor">
		<label type="">Fornecedor</label>
		<input type="text" placeholder="Fornecedor" name="fornecedor">
		<label type="">Fone</label>
		<input type="text"  placeholder="Fone" name="fone">
		<label type="">Email</label>
		<input type="text" placeholder="Email" name="email">
		<br>
		<br>
		<label type="text">Informações</label>
		<textarea name=""></textarea>
		<br><br>
		<button type="submit" value="cadastrar">Cadastrar</button>
	</form>
	<div>
		<hr>
	</div>
	</div>
<br>
<br>
<br>
<br>
<br>
<br>
<footer>Joshebr18@protonmail.com</footer>
</body>

</html>